In [2]:
%load_ext watermark
%watermark -v -n -m -p numpy,scipy,sklearn,pandas
%load_ext autoreload
%autoreload 1

The watermark extension is already loaded. To reload it, use:
  %reload_ext watermark
Wed Nov 20 2019

CPython 3.7.5
IPython 7.9.0

numpy 1.17.3
scipy 1.3.1
sklearn 0.21.3
pandas 0.25.3

compiler   : MSC v.1916 64 bit (AMD64)
system     : Windows
release    : 10
machine    : AMD64
processor  : Intel64 Family 6 Model 158 Stepping 9, GenuineIntel
CPU cores  : 8
interpreter: 64bit

In [1]:
import pandas as pd
import numpy as np
import os

In [10]:
import pathlib
path = pathlib.Path.cwd()
path.parent

WindowsPath('C:/Users/orteg/Dropbox/1Almacen/Computer_Science/ML_AI/5_PhD_Fraud_Analytics/Noise_Label/Insurance')

In [14]:
path_data = path.parent / 'data' / 'raw'
os.chdir(path_data)

Current working directory: C:\Users\orteg\Dropbox\1Almacen\Computer_Science\ML_AI\5_PhD_Fraud_Analytics\Noise_Label\Insurance\data\raw

In [47]:
fname = 'churn1.csv'
dframe = pd.read_csv(fname, sep = ';')

In [48]:
dframe.tail()

,ID,START_DATE,END_DATE,ACTIVE_DAYS,ACTIVE_WEEKS,ACTIVE_MONTHS,CHURN,PREPAID_BEFORE,COLLECTIONS,PAYMENT_DELAY,...,AVG_MINUTES_INC_OFFNET_1MONTH,AVG_MINUTES_INC_ONNET_1MONTH,MINUTES_INC_OFNET_WKD_1MONTH,MINUTES_INC_ONNET__WKD_1MONTH,AVG_MINUTES_OUT_OFFNET_1MONTH,AVG_MINUTES_OUT_ONNET_1MONTH,MINUTES_OUT_OFFNET_WKD_1MONTH,MINUTES_OUT_ONNET_WKD_1MONTH,MINUTES_INC_ONNET_3MONTH,MINUTES_INC_OFFNET_3MONTH
7051,6905,8/10/11,11/30/13,843,120,28,0,1,0,0,...,12.576,36.706,24.866,12.423,32.050,36.458,1.500,125.200,57.833,99.433
7052,8740,6/5/10,11/30/13,1274,182,42,0,0,0,0,...,15.266,11.166,65.166,3.350,22.983,11.583,13.450,3.350,79.483,99.483
7053,8132,3/24/12,11/30/13,616,88,20,0,0,0,0,...,34.358,55.983,46.683,33.166,22.983,39.050,11.266,33.166,11.374,99.783
7054,8701,12/31/04,11/30/13,3256,465,107,0,0,0,0,...,15.183,52.550,3.750,35.333,11.166,32.550,36.666,12.533,89.283,99.833
7055,8716,12/16/11,11/30/13,715,102,24,0,1,0,0,...,15.183,76.833,8.000,16.616,16.216,75.683,78.166,16.366,97.900,99.966

In [49]:
dframe = dframe.drop(columns = ['ID', 'START_DATE', 'END_DATE'])

In [54]:
df_y = dframe['CHURN']

In [50]:
df_xcont = dframe[[col for col in dframe if len(dframe[col].dropna().unique()) > 5]]

In [52]:
df_xcont

,ACTIVE_DAYS,ACTIVE_WEEKS,ACTIVE_MONTHS,PAYMENT_DELAY,COUNT_PAY_DELAYS,ANNUAL_PAY_DELAY,RECEIPT_DELAYS,COMPLAINT_2WEEKS,COMPLAINT_3MONTHS,COMPLAINT_6MONTHS,...,AVG_MINUTES_INC_OFFNET_1MONTH,AVG_MINUTES_INC_ONNET_1MONTH,MINUTES_INC_OFNET_WKD_1MONTH,MINUTES_INC_ONNET__WKD_1MONTH,AVG_MINUTES_OUT_OFFNET_1MONTH,AVG_MINUTES_OUT_ONNET_1MONTH,MINUTES_OUT_OFFNET_WKD_1MONTH,MINUTES_OUT_ONNET_WKD_1MONTH,MINUTES_INC_ONNET_3MONTH,MINUTES_INC_OFFNET_3MONTH
0,722,103,24,15,13,473,1,0,0,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,857,122,28,0,12,864,0,0,0,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,402,57,13,0,5,19,0,0,0,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3,575,82,19,9,6,148,1,0,0,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
4,650,93,21,257,4,848,4,0,0,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7051,843,120,28,0,3,7,0,0,0,0,...,12.576,36.706,24.866,12.423,32.050,36.458,1.500,125.200,57.833,99.433
7052,1274,182,42,0,5,29,0,0,0,0,...,15.266,11.166,65.166,3.350,22.983,11.583,13.450,3.350,79.483,99.483
7053,616,88,20,0,1,15,0,0,0,0,...,34.358,55.983,46.683,33.166,22.983,39.050,11.266,33.166,11.374,99.783
7054,3256,465,107,0,1,5,0,0,0,2,...,15.183,52.550,3.750,35.333,11.166,32.550,36.666,12.533,89.283,99.833
7055,715,102,24,0,5,18,0,0,0,0,...,15.183,76.833,8.000,16.616,16.216,75.683,78.166,16.366,97.900,99.966

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split